      <li id="image_{{id}}">
        <div class="row">
          <div class="image col-md-6 col-lg-6">
            <a href="{{link}}" target="_blank">
              <img title="{{{caption.text}}}" src="{{{images.standard_resolution.url}}}" class="img-responsive img-rounded" height="{{images.standard_resolution.height}}" width="{{images.standard_resolution.width}}"/>
            </a>
          </div>
          <div class="meta col-md-6 col-lg-6">
            <div class="media">
              <a href="http://instagram.com/{{user.username}}" class="pull-left" target="_blank">
                <img class="media-object img-circle" src="{{user.profile_picture}}"/>
              </a>
              <div class="media-body">
                <a href="http://instagram.com/{{user.username}}" class="pull-left" target="_blank">
                  <h4 class="media-heading">{{user.full_name}}</h4>
                </a>
              </div>
              {{#caption}}
                {{#text}}
                  <p>{{caption.text}}</p>
                {{/text}}
              {{/caption}}
            </div>
            {{#tags}}
              <span title="Tag" class="label label-default">{{.}}</span>
            {{/tags}}
            {{#filter}}
              <span title="Filter" class="label label-info"><span class="glyphicon glyphicon-tint"></span> {{.}}</span>
            {{/filter}}
            {{#location}}
              {{#name}}
                <span title="Location" class="label label-success"><span class="glyphicon glyphicon-cloud-upload"></span> {{.}}</span>
              {{/name}}
            {{/location}}
            {{#datetime}}
              <span class="label label-primary"><span class="glyphicon glyphicon-time"></span> <date title="{{display_time_long}}" datetime="{{datetime}}">{{display_time_short}}</date></span>
            {{/datetime}}
          </div>
        </div>
      </li>
