<% layout('layout') -%>

    <p class="">
      <a href="https://twitter.com/gunnarr">@gunnar</a> Kläckte idéen,
      <a href="https://twitter.com/jensa">@jensa</a> byggde den,
      <a href="https://twitter.com/jkuno">@jkuno</a> ritade ikon.
    <p/>
    <p class="">
      Tanken är enkel. En direktsänd ström av geo-markerade biler som vi i
      realtid hämtar från <a href="http://instagram.com/developer/">Instagram's
      API</a>.<br />
      Tekniskt funkar det så att <a href="/">www.instalive.se</a> prenumerar på
      bilder från de platser ni surfar till. Den första besökaren att surfa till
      en ort öppnar prenumerationen, den sista avslutar den.
      Nya bilder pushas till webbläsare via websockets så länge fönstret är
      öppet.<br/>
    </p>

