<% layout('layout') -%>

    <div class="description col-md-6 col-lg-6">
      <h3>Om</h3>
      <p class="">
        <a href="https://twitter.com/gunnarr">@gunnarr</a> kläckte idéen,
        <a href="https://twitter.com/jensa">@jensa</a> byggde den,
        <a href="https://twitter.com/jkuno">@jkuno</a> ritade ikon.
      </p>
      <p class="">
        Tanken är enkel. Vi ger er realtids-strömmar av geo-taggade <a href="http://instagram.com/">Instagram</a> -bilder från olika platser.
        Så länge ni tar bilder så håller vi flödet vid liv!
      </p>
      <p>
        Du behöver en stund över och en hyffsat modern webbläsare med stöd för <a href="http://caniuse.com/#feat=websockets">websockets</a>.
      </p>
    </div>

    <div class="description col-md-6 col-lg-6">
      <h3>FAQ</h3>
        <em>Vilka bilder kommer med i flödet?</em>
        <blockquote>
          Alla Instagram-bilder ni plåtar där ni väljer <a
          href="http://help.instagram.com/375744095836923?locale=sv_SE">"Lägg
          till på fotokarta"</a> i Instagram appen kommer med i flödet för
          respektive ort.
        </blockquote>
        <em>ok, visar ni även upp mina privata bilder?</em>
        <blockquote>Nej, det gör vi inte. Vi visar bara upp publika bilder som Instagram publicerar via sitt <a href="http://instagram.com/developer/">API</a></blockquote>
    </div>

    <h3>Feedback</h3>

<div id="wufoo-z1uchz0h1up5wgt">
Fill out my <a href="https://instalive.wufoo.com/forms/z1uchz0h1up5wgt">online
form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size:
small;color:#a7a7a7;text-align:center;display:block;">Use <a
href="http://www.wufoo.com/partners/">Wufoo integrations</a> and get your data
to your favorite apps.</div>
<script type="text/javascript">var z1uchz0h1up5wgt;(function(d, t) {
  var s = d.createElement(t), options = {
    'userName':'instalive',
    'formHash':'z1uchz0h1up5wgt',
    'autoResize':true,
    'height':'497',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true
    };
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') +
    'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs !=
      'loaded') return;
      try { z1uchz0h1up5wgt = new
      WufooForm();z1uchz0h1up5wgt.initialize(options);z1uchz0h1up5wgt.display();
      } catch (e) {}
      };
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
      par.insertBefore(s, scr);
  })(document, 'script');</script>
