{{>header}}

<div id="content" class="row">

  {{#extend "scripts"}}
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/bundle.js"></script>
  {{/extend}}
</div>
