{{>header}}

<div id="page" class="index">
  <div id="content" class="row">
    <ul class="list-unstyled" id="pings"></ul>
    {{#extend "scripts"}}
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="/js/image_client.js"/>
    {{/extend}}
  </div>
</div>
