<% layout('layout') -%>

<ul class="list-unstyled">
  <li><span class="glyphicon glyphicon-globe"></span> <a href="/sthlm">sthlm</a></li>
  <li><span class="glyphicon glyphicon-globe"></span> <a href="/gbg">gbg</a></li>
  <li><span class="glyphicon glyphicon-globe"></span> <a href="/malmo">malmö</a></li>
</ul>
