<% layout('bare_layout') -%>

  <div class="headline">
    <h1 class="logo-wrapper">
      <div class="logo"></div>
        Instalive
        <small>Instalive är konstanta flöden av instagram-bilder från givna platser</small>
    </h1>
  </div>
  <div class="navs">
  <p>
    <a href="/sthlm" class="btn btn-info btn-lg" role="button">Stockholm</a>
    <a href="/gbg" class="btn btn-info btn-lg" role="button">Göteborg</a>
    <a href="/malmo" class="btn btn-info btn-lg" role="button">Malmö</a>
    <a href="/om" class="btn btn-success btn-lg" role="button">Om</a>
  </p>
  </div>

