<% layout('bare_layout') -%>

  <div class="headline">
    <h1 class="logo-wrapper">
      <div class="logo"></div>
        Instalive
        <small>Instagram-bilder från din stad, just nu.</small>
    </h1>
  </div>
  <div class="navs">
  <p>
    <a href="/sthlm" class="btn btn-info btn-lg" role="button">Stockholm</a>
    <a href="/gbg" class="btn btn-info btn-lg" role="button">Göteborg</a>
    <a href="/malmo" class="btn btn-info btn-lg" role="button">Malmö</a>
    <a href="/uppsala" class="btn btn-info btn-lg" role="button">Uppsala</a>
    <a href="/vasteras" class="btn btn-info btn-lg" role="button">Västerås</a>
    <a href="/orebro" class="btn btn-info btn-lg" role="button">Örebro</a>    
    <a href="/linkoping" class="btn btn-info btn-lg" role="button">Linköping</a>
    <a href="/helsingborg" class="btn btn-info btn-lg" role="button">Helsingborg</a>
    <a href="/jonkoping" class="btn btn-info btn-lg" role="button">Jönköping</a>
    <a href="/norrkoping" class="btn btn-info btn-lg" role="button">Norrköping</a>
    <a href="/lund" class="btn btn-info btn-lg" role="button">Lund</a>
    <a href="/umea" class="btn btn-info btn-lg" role="button">Umeå</a>
    <a href="/gavle" class="btn btn-info btn-lg" role="button">Gävle</a>
    <a href="/boras" class="btn btn-info btn-lg" role="button">Borås</a>
    <a href="/eskilstuna" class="btn btn-info btn-lg" role="button">Eskilstuna</a>
    <a href="/sodertalje" class="btn btn-info btn-lg" role="button">Södertälje</a>
    <a href="/karlstad" class="btn btn-info btn-lg" role="button">Karlstad</a>
    <a href="/taby" class="btn btn-info btn-lg" role="button">Täby</a>
    <a href="/vaxjo" class="btn btn-info btn-lg" role="button">Växjö</a>
    <a href="/halmstad" class="btn btn-info btn-lg" role="button">Halmstad</a>        
    <a href="/sundsvall" class="btn btn-info btn-lg" role="button">Sundsvall</a>        
    <a href="/lulea" class="btn btn-info btn-lg" role="button">Luleå</a>        
    <a href="/trollhattan" class="btn btn-info btn-lg" role="button">Trollhättan</a>        
    <a href="/ostersund" class="btn btn-info btn-lg" role="button">Östersund</a>        
    <a href="/borlange" class="btn btn-info btn-lg" role="button">Borlänge</a>        
    <a href="/om" class="btn btn-success btn-lg" role="button">Om</a>
<a href="http://blogg.instalive.se" class="btn btn-success btn-lg" role="button">Blogg</a>
  </p>
  </div>
