<% layout('layout') -%>

<div class="table-responsive">
  <table class="table table-hover" id="stats">
    <thead>
      <tr>
        <th>Stad</th>
        <th>Antal anslutna browsers</th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(el, index) { %>
        <tr>
          <td><strong><%= el.location %></strong></td>
          <td><%= el.num %>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
