<% layout('layout') -%>

<% if (items.length > 0) { %>
<div class="table-responsive">
  <table class="table table-hover" id="stats">
    <thead>
      <tr>
        <th>Stad</th>
        <th>Antal anslutna browsers</th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(el, index) { %>
        <tr>
          <td><strong><%= el.location %></strong></td>
          <td><%= el.num %>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<% } else { %>
  <div class="jumbotron">
    <h2>Inga anslutna browsers just nu :(</h2>
  </div>
<% } %>
