.page-header {
  margin: 10px 0 10px;
  padding-bottom: 0;
}

.page-header h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.page-header h1 svg {
  width: 60px;
  height: 60px;
}

#pings li {
  margin-bottom: 20px;
}

#pings .meta .label {
  line-height: 2.2;
}

.page-header h1 .flash {
  display: none;
  vertical-align: top;
  color: green;
}

#pings li .media {
  margin-bottom: 6px;
}

#pings li .media img {
  height: 60px;
  width: 60px;
}

.fb_iframe_widget.fb-like, .twitter-share-button {
  top: 10px;
  right: 10px;
  position: absolute;
}

@media (max-width: 970px) {
    .meta .media {
          margin-top: 6px;
    }
}

