.headline {
  margin: 70px 0;
  text-align: center;
}

  .headline .logo-wrapper {
    font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
  }

    .headline .logo-wrapper .logo {
      background: url('/img/instalive.svg') center 0 no-repeat;
      background-size: 236px 236px;
      height: 236px;
      width: 236px;
      margin: 0 auto 26px;
      overflow: hidden;
      text-indent: -9999em;
    }

    .headline .logo-wrapper small {
      color: rgba(52, 73, 94, 0.30000000000000004);
      display: block;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0;
      padding-top: 5px;
    }

.navs { text-align: center; }
  .navs .btn { margin: 5px; }

.page-header {
  margin: 10px 0 10px;
  padding-bottom: 0;
}

  .page-header h1 {
    margin-top: 10px;
    margin-bottom: 0;
  }

    .page-header h1 #location { vertical-align: top; }
    .page-header h1 svg {
      width: 60px;
      height: 60px;
    }

.container .row {
  margin-left: 0px;
  margin-right: 0px;
}

#pings li { margin-bottom: 20px; }
	#pings .instagrams-enter {
		opacity: 0.01;
		transition: opacity .5s ease-in;
	}
	#pings .instagrams-enter.instagrams-enter-active { opacity: 1; }
	#pings .instagrams-leave {
		opacity: 1;
		transition: opacity .5s ease-in;
	}
	#pings .instagrams-leave.instagrams-leave-active { opacity: 0.01; }


  #pings .meta .label {
		line-height: 2.2;
		margin-right: 3px;
	}

  .page-header h1 .flash {
    display: none;
    vertical-align: top;
    color: green;
  }

  #pings li .image { padding: 0; }
  #pings li .media { margin-bottom: 6px; }

    #pings li .media img {
      height: 60px;
      width: 60px;
    }

@media (max-width: 970px) {
  .meta .media { margin-top: 6px; }
}
@media (max-width: 750px) {
  #main {
    padding-right: 5px;
    padding-left: 5px;
  }
  .headline { margin-top: 10px; }
  .headline .logo-wrapper {
    font: 900 50px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    margin: 0 auto 10px;
  }
  .headline .logo-wrapper .logo {
    background-size: 136px 136px;
    height: 136px;
    width: 136px;
  }
  .headline .logo-wrapper small { font-size: 18px; }
  #pings li .meta { padding-left: 0; }
}

